<a href="https://colab.research.google.com/github/eduardosantosugb/PROGA1-2024/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola mundo")
print("Bienvenidos a la clase de programacion computaciona lll")

hola mundo
Bienvenidos a la clase de programacion computaciona lll

In [ ]:
nombre = "Eduardo Santos"
edad = "18"
print(nombre, edad)

Eduardo Santos 18

In [ ]:
num1 = 5
num2 = 8.9
suma = num1 + num2
print("la suma es: ", suma)

la suma es:  13.9

In [ ]:
num1 = float(input("num1:"))
num2 = float(input("num2:"))
suma = num1+ num2
print("la suma es: ", suma)

num1:4
num2:4
la suma es:  8.0

In [ ]:
num1 = float(input("num1:"))
num2 = float(input("num2:"))
resta = num1- num2
print("la resta es: ", resta)

num1:8
num2:4
la resta es:  4.0

In [ ]:
def resta(num1, num2):
  return num1 - num2
  num1 = float(input("ingrese el primer numero: "))
  num2 = float(input("ingrese el segundo numero: "))
  respuesta = resta(num1,num2)
  print ("la resta es: ", respuesta)

In [ ]:
#Hacer un ejercicio en python hacieno uso de funciones de usuarios, que convierta grados celcius a farenheint
def celciusFarenheit(c):
  return c*1.8 + 32
c = int(input("Grados c:"))
f = celciusFarenheit(c)
print("F: ", f)

Grados c:0
F:  32.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados Farenheit a Celcius
def farenheitCelcius(f):
  return (f-32)/1.8
f = int(input("Grados f:"))
c = farenheitCelcius(f)
print("C: ", c)

Grados f:1
C:  -17.22222222222222

In [ ]:
#Hacer un ejercicio en python
def farenheitCelcius(f):
  return (f-32)* 5/9
f = float(input("F: "))

c = farenheitCelcius(f)
print("C: ", c)

F: 100.4
C:  38.0

In [ ]:
#hacer ejercicio en python grados celcius a kelvin
def celciusKelvin(c):
  return c + 273.15
c = float(input("C: "))
k = celciusKelvin(c)
print("K: ", k)

C: 35
K:  308.15

In [ ]:
#hacer un ejercicio en python con funciones de usuario que calcule el sueldo de
#un empleado, segun el numero de horas trabajadas y el valor por hora
def sueldo(numHrs, valorXhr):
  sueldo = numHrs * valorXhr * 30
  return sueldo
numHrs = float(input("Horas trabajadas: "))
valorXhr = float(input("Valor por hora: "))
sueldo = sueldo(numHrs, valorXhr)
print("Sueldo: ", sueldo)

Horas trabajadas: 8
Valor por hora: 5
Sueldo:  1200.0

In [ ]:
#hacer un ejercicio en python con funciones de usuario que permita elevar un
#numero a un exponente
def exponenciacion(b,e):
  return b**e
b = int(input("Base: "))
e = int(input("Exponente: "))
resultado = exponenciacion(b,e)
print("Resultado: ", resultado)

Base: 8
Exponente: 3
Resultado:  512

Funciones anonimas

In [4]:
## FUNCIONES ANONIMAs
a = float (input("ingrese el primer numero: "))
b = float (input("ingrese el segundo numero: "))
print("la suma de ",a, "y", b, "es: ", (lambda a,b: a+b)(a,b))

ingrese el primer numero: 5
ingrese el segundo numero: 5
la suma de  5.0 y 5.0 es:  10.0

FUNCIONES PRECONSTRUIDAS

In [5]:
#map
def extraerPrimervalor(dia):
  return dia[0]
semana = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"]
primerValorSemana = map(lambda dia: dia[0], semana)
print(list(primerValorSemana))
mayusculas = map(lambda dia: dia.upper(), semana)
print(list(mayusculas))
print( list(map(extraerPrimervalor, semana)))

['D', 'L', 'M', 'M', 'J', 'V', 'S']
['DOMINGO', 'LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO']
['D', 'L', 'M', 'M', 'J', 'V', 'S']

In [7]:
numeros = [2, 4, 6, 8, 7, 9]
potencia = int(input("potencia:"))
numeroPotencia = map(lambda num: num**potencia, numeros)
print(list(numeroPotencia))

potencia:2
[4, 16, 36, 64, 49, 81]

In [8]:
#TABLAS DE MULTIPLICAR
ntabla = int(input("Tabla"))
numeros =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tabla = map(lambda num: num*ntabla, numeros)
print(list(tabla))

Tabla7
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [9]:
serie = [5, 6, 9, 2, 7, 8]
pares = filter(lambda num: num%2==0, serie)
print(list(pares))

impares = filter(lambda num: num%2!=0, serie)
print(list(impares))

[6, 2, 8]
[5, 9, 7]

Ejercicio usando la funcion filter y lambda que en una serie de notas introducida por el usuario establezca cuantos pasan la materia y cuantos no pasan

In [11]:
#Hacer Ejercicio usando la funcion filter y lambda que en una serie de notas introducida
#por el usuario establezca cuantos pasan la materia y cuantos no pasan
#las notas mayor o igual a 6 pasan y las notas menores a 6 no pasa

entrada = input("Introduce las notas separadas por comas (ej. 5,7.5,8,4,6): ")


notas = list(map(float, entrada.split(",")))


aprobados = list(filter(lambda nota: nota >= 6, notas))


reprobados = list(filter(lambda nota: nota < 6, notas))



print(f"\nTotal de notas ingresadas: {len(notas)}")
print(f"Aprobados (>=6): {len(aprobados)} -> {aprobados}")
print(f"Reprobados (<6): {len(reprobados)} -> {reprobados}")

Dame las notas, separadas por un espacio (ej: 5 8 10 4.5): 7 5 3 5.5

--- Resumen ---
Total de notas analizadas: 4
Aprobados (1): [7.0]
Reprobados (3): [5.0, 3.0, 5.5]